

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wraper {
  display: flex;
  flex-direction: column;
  padding: 0 150px 0 150px;
}

h1 {
  text-align: center
}

.form {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
}


.button {
  width: 150px;
  height: 43px;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
}

.button:hover {
  background: linear-gradient(#f5ae00, #f59500) #f5ae00;
} 





.input {
  width: 500px;
  height: 35px;
  margin-right: 20px;
  border-color: gray;
  border-radius: 6px;
}


p {
  text-align: center;
  font-size: 60px;
}